{% extends "layout.html" %}

{% block title %}
    Best Hashfuns
{% endblock %}

{% block main %}
    {% if post %}
        {% if number == 1 %}
            <h4>Displaying the hash function with the lowest variance</h4>
        {% else %}
            <h4>Displaying {{ number }} hash functions with the lowest variance</h4>
        {% endif %}

        <div class="push3"></div>

        <h5>Select a different number of functions to display</h5>
    {% endif %}

    {% if not post %}
        <h4>Select the number of functions to display</h4>

        <div class="push2"></div>
    {% endif %}

    <form action="/best" method="post">
        <div class="form-group">
            <input class="form-control" style="width: 10%" id="number" name="number" placeholder="Number" type="number" min="1" max="999" onchange="enableButton()">
            <button id="goBtn" class="btn btn-primary" type="submit" disabled>Display</button>
        </div>
    </form>

    <script>
        checkFields('#number')
    </script>

    {% if post %}
        <div class="push1"></div>

        <table>
            <tr>
                <th>Username</th>
                <th>Start</th>
                <th>Multiplier</th>
                <th>Buckets</th>
                <th>Variance</th>
                <th>Empties</th>
                <th>Most</th>
                <th>Least</th>
            </tr>
            {% for row in rows %}
                <tr>
                    <td>{{ row["username"] }}</td>
                    <td>{{ row["start"] }}</td>
                    <td>{{ row["multiplier"] }}</td>
                    <td>{{ row["buckets"] }}</td>
                    <td>{{ row["variance"] }}</td>
                    <td>{{ row["empty"] }}</td>
                    <td>{{ row["max"] }}</td>
                    <td>{{ row["min"] }}</td>
                </tr>
            {% endfor %}
            </tr>
        </table>
    {% endif %}
{% endblock %}
